    <div class="gridster-cnt" ng-click="openBlade()">
    <div class="list-count" ng-if="loading">...</div>
    <ul class="list __stats" ng-if="!loading">
        <li class="list-item"><span style="font-size:16px">{{'personalization.widgets.tagsWidget.title' | translate}}</span></li>
        <li class="list-item">{{'personalization.widgets.tagsWidget.assigned' | translate}} <span class="list-price">{{assignedTagsCount}}</span></li>
        <li class="list-item">{{'personalization.widgets.tagsWidget.inherited' | translate}} <span class="list-price">{{inheritedTagsCount }}</span></li>
    </ul>
</div>